@page "/appetizers"

<PageTitle>Appetizers</PageTitle>

<header>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('https://images.unsplash.com/photo-1551970634-747846a548cb?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                    <div>
                        <h3 class="fs-2 mb-3">Want A Quick Bite?</h3>
                        <h1>Have Some Appetizers</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1500829243541-74b677fecc30?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-start">
                    <div class="text-start">
                        <h3 class="fs-2 mb-3">Perhaps A Question Here?</h3>
                        <h1>Get Ready For An Answer</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1542351366-d8d0560af4d1?q=80&w=1929&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-end">
                    <div class="text-end">
                        <h3 class="fs-2 mb-3">Something Else</h3>
                        <h1>Is Right Here</h1>
                    </div>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</header>

<div class="container-fluid giant-container pb-5">

    <div class="display-header-layout container-fluid mb-5">
        <div class="container-sm heading-container">
            <div class="heading-line"></div>
            <h1 class="heading-with-lines display-1">Appetizers</h1>
            <div class="heading-line"></div>
        </div>
    </div>

    <div class="big-card-layout mb-5">
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-1 samosas">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Appetizers/vegan samosa.jpg" alt="Samosas">
                    <div class="card-body">
                        <h5 class="card-title">Vegan Samosas</h5>
                        <p class="card-text">
                            Our samosas are made with organic potatoes and peas, both of which are sourced from nearby farms. The pastry is handmade, reducing the need for industrial food production methods. We use sustainable palm oil for frying, sourced from certified sustainable plantations.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-2 potato-puffs">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 offset-lg-6 offset-xl-7 offset-xxl-8 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Appetizers/potato puffs.jpg" alt="Potato Puffs">
                    <div class="card-body">
                        <h5 class="card-title">Spicy Potato Puffs</h5>
                        <p class="card-text">
                            The ingredients, including organic potatoes and peas, are sourced from local farms using water-saving irrigation techniques. We ensure the puff pastry is made without artificial preservatives and use energy-efficient ovens for baking.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-3 veg-fritters">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1656951329324-f349a97c908d?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Vegetable Fritters">
                    <div class="card-body">
                        <h5 class="card-title">Vegetable Fritters (Pakora)</h5>
                        <p class="card-text">
                            Our vegetable fritters are made with organic, seasonal vegetables such as spinach, cauliflower, and onions, which are grown on local farms using sustainable farming methods. The batter is made from chickpea flour, a low-carbon alternative to wheat flour.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-4 pot-patties">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 offset-lg-6 offset-xl-7 offset-xxl-8 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1655744434956-d5487b9a40aa?q=80&w=1766&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Crispy Potato Patties">
                    <div class="card-body">
                        <h5 class="card-title">Crispy Potato Patties</h5>
                        <p class="card-text">
                            We use locally grown, organic potatoes and spices, ensuring the dish is prepared with minimal environmental impact. The oil used for frying is sustainably sourced and the kitchen minimizes waste through composting and using reusable kitchenware.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-3 naan-flatbread">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Appetizers/vegan flat bread (naan).jpg" alt="Mini Flatbreads">
                    <div class="card-body">
                        <h5 class="card-title">Mini Vegan Flatbreads (Vegan Naan)</h5>
                        <p class="card-text">
                            Our flatbreads are made using whole wheat flour sourced from local organic mills. We minimize food waste by ensuring any leftover dough is used creatively for other dishes or composted.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@code {

}
