@page "/contact"

<PageTitle>Contact</PageTitle>

<header>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images.unsplash.com/photo-1551970634-747846a548cb?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                    <div>
                        <h1>Contact</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid giant-container pb-5">
    
    <div class="quote-layout container-fluid mb-5">
        <div class="container-sm d-flex justify-content-center">
            <div class="d-flex text-center">
                <div class="quote-text-div">
                    <h3>
                        Contact Information
                    </h3>
                    <p style="margin-bottom: 0 !important;">
                        <a href="tel:919-123-4567">(919) 123-4567</a>
                    </p>
                    <p>
                        <a href="mailto:contact@whitetigerrestaurant.com">contact@whitetigerrestaurant.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="quote-layout container-fluid mb-5">
        <div class="container-sm d-flex justify-content-center">
            <div class="d-flex text-center">
                <div class="quote-text-div">
                    <h3>
                        Location
                    </h3>
                    <p style="color: var(--text-color-solid-muted); margin-bottom: 0 !important;">
                        <a href="https://maps.app.goo.gl/TLBxQrBQiZnzH6ub9" target="_blank" rel="noopener noreferrer">White Tiger Farm & Restaurant</a>
                    </p>
                    <p style="color: var(--text-color-solid-muted); margin-bottom: 0 !important;">
                        1234 Farmstead Lane
                    </p>
                    <p style="color: var(--text-color-solid-muted)">
                        Dallas, TX 75201
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="quote-layout container-fluid mb-5">
        <div class="container-sm d-flex justify-content-center">
            <div class="d-flex text-center">
                <div class="quote-text-div">
                    <h3>
                        Hours
                    </h3>
                    <p style="color: var(--text-color-solid-muted); margin-bottom: 0 !important;">
                        <strong>Sunday:</strong> 9 AM - 6 PM
                    </p>
                    <p style="color: var(--text-color-solid-muted); margin-bottom: 0 !important;">
                        <strong>Monday - Friday:</strong> 11 AM - 8 PM
                    </p>
                    <p style="color: var(--text-color-solid-muted)">
                        <strong>Saturday:</strong> 11 AM - 9 PM
                    </p>
                </div>
            </div>
        </div>
    </div>

    @* <div class="quote-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex quote-layout-container" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        Contact Information
                    </h3>
                    <p style="margin-bottom: 0 !important;">
                        <a href="tel:919-123-4567">(919) 123-4567</a>
                    </p>
                    <p>
                        <a href="mailto:contact@whitetigerrestaurant.com">contact@whitetigerrestaurant.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="quote-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex quote-layout-container" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        Location
                    </h3>
                    <p style="color: var(--text-color-solid-muted); margin-bottom: 0 !important;">
                        White Tiger Farm & Restaurant
                    </p>
                    <p style="color: var(--text-color-solid-muted); margin-bottom: 0 !important;">
                        1234 Farmstead Lane
                    </p>
                    <p style="color: var(--text-color-solid-muted)">
                        Dallas, TX 75201
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="quote-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex quote-layout-container" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        Hours
                    </h3>
                    <p style="color: var(--text-color-solid-muted); margin-bottom: 0 !important;">
                        <strong>Sunday:</strong> 9 AM - 6 PM
                    </p>
                    <p style="color: var(--text-color-solid-muted); margin-bottom: 0 !important;">
                        <strong>Monday - Friday:</strong> 11 AM - 8 PM
                    </p>
                    <p style="color: var(--text-color-solid-muted)">
                        <strong>Saturday:</strong> 11 AM - 9 PM
                    </p>
                </div>
            </div>
        </div>
    </div> *@


</div>

@code {

}
