@page "/"

<PageTitle>Home</PageTitle>

<header>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('https://images.unsplash.com/photo-1551970634-747846a548cb?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                    <div>
                        <h3 class="fs-2 mb-3">This Is</h3>
                        <h1>The White Tiger</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1500829243541-74b677fecc30?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-start">
                    <div class="text-start">
                        <h3 class="fs-2 mb-3">Perhaps A Question Here?</h3>
                        <h1>Get Ready For An Answer</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('/Images/Home/plants.jpg');">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-end">
                    <div class="text-end">
                        <h3 class="fs-2 mb-3">A Plant-Based</h3>
                        <h1>Sanctuary For Sustainability</h1>
                    </div>
                </div>
            </div>
        
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</header>




<div class="container-fluid giant-container pb-5">

    @*DISPLAY HEADER LAYOUT*@
    <div class="display-header-layout container-fluid mb-5">
        <div class="container-sm heading-container">
            <div class="heading-line"></div>
            <h1 class="heading-with-lines display-1">The White Tiger</h1>
            <div class="heading-line"></div>
        </div>
    </div>

    @*LINE & PARAGRAPH LAYOUT (LEFT)*@
    <div class="quote-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex quote-layout-container" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        About Us
                    </h3>
                    <p>
                        This is the White Tiger Farm & Restaurant. Here, we grow our own food under the warm climate of Dallas, Texas to promote plant-based sustainability. Our farms grow a wide range of crops to suuport our restaurants, and we are constantly evaluating what items are in demand to adjust our crop output accordingly. 
                    </p>
                    <p>
                        The White Tiger Team is a capable, experienced team of farmers, planters, chefs, coordinators, and leaders with the goal of taking eating to a new high by utlizing Indian tradition and plant-based power to solve the modern imperative for plant-based sustainability. It is our promise to maintain a healthy, tasteful, and sustainable environment to allow our customers to enjoy the cuisine of the future. Have fun going through our website!
                    </p>
                </div>
            </div>
        </div>
    </div>

    @*LINE & PARAGRAPH LAYOUT (RIGHT)*@
    @* <div class="quote-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex quote-layout-container" style="gap: 20px; justify-content: flex-end;">
                <div class="quote-text-div text-end">
                    <h3>
                        This Is A Title
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Ornare euismod torquent inceptos porttitor sit proin. Habitasse per finibus dui suspendisse dapibus pellentesque, ullamcorper consectetur fermentum. Adipiscing vivamus phasellus vel sagittis; aliquam platea. Tempus ullamcorper dolor nisl porta metus magna suscipit tempus tempus. Nibh eu tempus gravida massa id congue vulputate. Interdum posuere dictum integer arcu cras. Fusce pellentesque donec at tristique, lacus feugiat metus at. Mus aptent dapibus, pharetra molestie urna dignissim.
                    </p>
                </div>
                <div class="line"></div>
            </div>
        </div>
    </div> *@



    @*SMALL CARD LAYOUT*@
    <div class="small-card-layout container-fluid">
        <div class="container-sm">
            <div class="row perspective-container">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center perspective-card-small hidden" id="card1">
                        <div class="card-body">
                            <div class="card-icon">🥬</div>
                            <h5 class="card-title">Plant-Based Deliciousness</h5>
                            <p class="card-text">Many customers are shocked that our plant-based dishes are just that—plant-based. All the taste in the world, with only plants.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center perspective-card-small hidden" id="card2">
                        <div class="card-body">
                            <div class="card-icon">🌎</div>
                            <h5 class="card-title">Farm-To-Table Sustainability</h5>
                            <p class="card-text">From beginning to end, our food is produced and made right here, minimizing transportation, eliminating harm, and ensuring quality perfection.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center perspective-card-small hidden" id="card3">
                        <div class="card-body">
                            <div class="card-icon">😋</div>
                            <h5 class="card-title">Diverse & Flavorful Selection</h5>
                            <p class="card-text">Honed by tradition, boosted by modernity, all with organic, natural ingredients, we can ensure a spectacular eating experience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center perspective-card-small hidden" id="card4">
                        <div class="card-body">
                            <div class="card-icon">💗</div>
                            <h5 class="card-title">Our Confident Commitment</h5>
                            <p class="card-text">Here at the White Tiger, we have a commitment to love, sustainability, and taste in every step of the process.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*IMG LAYOUT*@
    <div class="img-layout container-fluid mb-5">
        <div class="container-sm text-center">
            <img src="/Images/Home/forest svg.svg" width="400px" height="400px" alt="this is some alt text" />
        </div>
    </div>


    @*BIG CARD LAYOUT*@
    <div class="container-fluid big-card-layout mb-5">
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-1">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Main Dishes/chichpea curry masala.jpg" alt="Main Dish Image">
                    <div class="card-body">
                        <h5 class="card-title">Main Dishes</h5>
                        <p class="card-text">
                            Savor a delicious selection of vegan main dishes, each crafted with traditional spices and fresh ingredients to deliver a memorable dining experience. From hearty curries to flavorful rice, every dish is entirely plant-based and made with genuine Indian flavors.
                        </p>
                        <p class="card-text">
                            Our main dishes are thoughtfully created to bring the warmth and authenticity of Indian cuisine to your table, celebrating plant-based ingredients. Enjoy a satisfying and tasty meal with a diverse range of flavors that will keep you coming back for more!
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="nav-link" style="display: initial;" href="/main-dishes">See here!</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-2">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 offset-lg-6 offset-xl-7 offset-xxl-8 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Appetizers/pakoras.jpg" alt="Appetizer Image">
                    <div class="card-body">
                        <h5 class="card-title">Appetizers</h5>
                        <p class="card-text">
                            Kick off your meal with an explosion of flavor! Our appetizers are made with real flavor and genuine Indian spices, providing a delicious experience for your palate. Every dish is entirely vegan, ideal for those looking for a vegan restaurant.
                        </p>
                        <p class="card-text">
                            Each item is crafted with fresh ingredients and attention to detail, ensuring you enjoy an authentic taste of Indian cuisine—all while being fully plant-based! Savor the vibrant flavors of India with our delicious appetizers!
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="nav-link" style="display: initial;" href="/appetizers">See here!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="big-number-layout container-fluid mb-5">
        <div class="container-sm position-relative text-center">
            <div class="giant-percentage">90%</div>
            <div class="small-text fs-3">90% of our produce is grown right on our on-site farm!</div>
        </div>
    </div>

    <div class="container-fluid big-card-layout mb-5">
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-3">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Drinks/strawberry lemonade.jpg" alt="Drink Image">
                    <div class="card-body">
                        <h5 class="card-title">Drinks</h5>
                        <p class="card-text">
                            Our bold selection of drinks promise to keep you refreshed and hydrated! From espresso to rose lemonade to tamarind juice, we promise top-notch, quality excellence.
                        </p>
                        <p class="card-text">
                            Past, present, and future combine in our selection of drinks! With established drinks like tamarind juice, modern delights like strawberry lemonade and espresso, and the sustainable production of the future, rejoice in our timeless taste!
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="nav-link" style="display: initial;" href="/drinks">See here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-4">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 offset-lg-6 offset-xl-7 offset-xxl-8 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Sustainability/more crops.jpg" alt="Sustainability Image">
                    <div class="card-body">
                        <h5 class="card-title">Sustainability</h5>
                        <p class="card-text">
                            Modern big agriculture is flawed. With huge carbon emissions, environmental damage, depletion of resources, and the loss of biodiversity, we here at the White Tiger want to reject this.
                        </p>
                        <p class="card-text">
                            That's why our restaurant uses its own farm—to make sure it's done the right way. Compost, no harmful chemicals and pollutants, and sustainable use of resources. 
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="nav-link" style="display: initial;" href="/sustainability">See here!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    


    @*IMG & TEXT LAYOUT*@
    @* <div class="img-and-text-layout container-fluid">
        <div class="container-sm">
            <div class="d-flex">
                <img class="col-3 card-img-left me-4" src="https://www.svgrepo.com/show/317386/forest-burn.svg" alt="this is alt text">
                <div class="card py-3 px-3">
                    <h2>
                        This Is A Title
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>   *@

    @*BIG NUMBERED LIST LAYOUT
    <div class="big-numbered-list-layout container-fluid mb-5">
        <div class="container-sm" style="position: relative;">
            
            <div class="giant-number">1</div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

        </div>
    </div>*@

    @*QUOTE LAYOUT*@
    @* <div class="quote-layout container-fluid mb-5">
        <div class="container-sm position-relative text-center" style="position: relative;">
            @* <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="var(--text-color-solid-very-muted)" class="bi bi-quote" viewBox="0 0 16 16">
                <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z" />
            </svg>
            <div class="fs-3">"Lorem ipsum blah blah blah blah yadda yadda blah blah aaaa bb cc dd ee ffff"</div>
            <div class="fs-5 mt-3">- Somebody's Name, 2024</div>
            <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="var(--text-color-solid-very-muted)" class="bi bi-quote" viewBox="0 0 16 16">
                <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z" />
            </svg>
        </div>
    </div> *@

    

    

    

</div>


@code {
    
}