@page "/"

<PageTitle>Home</PageTitle>

<header>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('https://images.unsplash.com/photo-1551970634-747846a548cb?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                <div class="carousel-caption">
                    <h1 class="banner_title">Home</h1>
                    <p class="banner_subtitle">This Is A Subtitle</p>
                </div>
            </div>
                <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1500829243541-74b677fecc30?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                <div class="carousel-caption">
                    <h1 class="banner_title">Home</h1>
                    <p class="banner_subtitle">This Is A Subtitle</p>
                </div>
            </div>
                <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1542351366-d8d0560af4d1?q=80&w=1929&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                <div class="carousel-caption">
                    <h1 class="banner_title">Home</h1>
                    <p class="banner_subtitle">This Is A Subtitle</p>
                </div>
            </div>
        
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</header>


@*
<header>
    <h1 class="banner_title">Home</h1>
    <p class="banner_subtitle">This Is A Subtitle</p>
</header>

header {
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1551970634-747846a548cb?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    color: white;
    height: calc(100vh + 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
    will-change: transform, filter, opacity;
}

.banner_title {
    font-size: calc(7rem + 4.5vw);
    font-family: var(--header-font);
    text-shadow: var(--title-text-shad);
    overflow-wrap: break-word;
}

.banner_subtitle {
    font-size: 2rem;
}
*@

@*

<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="https://images.unsplash.com/photo-1579033461380-adb47c3eb938?fit=crop&w=1964&q=100" class="d-block w-100 c-img" alt="Slide 1">
        <div class="carousel-caption top-0 mt-4">
          <p class="mt-5 fs-3 text-uppercase">Discover the hidden world</p>
          <h1 class="display-1 fw-bolder text-capitalize">The Aurora Tours</h1>
          <button class="btn btn-primary px-4 py-2 fs-5 mt-5">Book a tour</button>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://images.unsplash.com/photo-1516466723877-e4ec1d736c8a?fit=crop&w=2134&q=100" class="d-block w-100 c-img" alt="Slide 2">
        <div class="carousel-caption top-0 mt-4">
          <p class="text-uppercase fs-3 mt-5">The season has arrived</p>
          <p class="display-1 fw-bolder text-capitalize">3 available tours</p>
          <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
            data-bs-target="#booking-modal">Book a tour</button>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://images.unsplash.com/photo-1612686635542-2244ed9f8ddc?fit=crop&w=2070&q=100" class="d-block w-100 c-img" alt="Slide 3">
        <div class="carousel-caption top-0 mt-4">
          <p class="text-uppercase fs-3 mt-5">Destination activities</p>
          <p class="display-1 fw-bolder text-capitalize">Go glacier hiking</p>
          <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
            data-bs-target="#booking-modal">Book a tour</button>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

*@

<div class="container-fluid giant-container pb-5">

    @*DISPLAY HEADER LAYOUT*@
    <div class="display-header-layout container-fluid mb-5">
        <div class="container-sm heading-container">
            <div class="heading-line"></div>
            <h1 class="heading-with-lines display-1">This Is A Heading</h1>
            <div class="heading-line"></div>
        </div>
    </div>

    @*LINE & PARAGRAPH LAYOUT (LEFT)*@
    <div class="quote-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex quote-layout-container" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        This Is A Title
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Interdum dictumst tempus vel nisl pellentesque nulla at. Torquent himenaeos nisi ornare phasellus aliquet pulvinar suspendisse. Commodo leo phasellus ac sociosqu enim nostra at. Potenti vulputate aliquam felis eleifend, gravida curabitur venenatis parturient a. Eros phasellus dis mi hac purus ornare cubilia. Suspendisse aptent ridiculus phasellus velit porttitor cubilia. Integer vehicula ligula massa ante habitant inceptos. Condimentum morbi aliquam erat vivamus nisi porttitor est maecenas. Eget risus nascetur suscipit nascetur velit sollicitudin finibus.
                    </p>
                </div>
            </div>
        </div>
    </div>

    @*LINE & PARAGRAPH LAYOUT (RIGHT)*@
    <div class="quote-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex quote-layout-container" style="gap: 20px; justify-content: flex-end;">
                <div class="quote-text-div text-end">
                    <h3>
                        This Is A Title
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Ornare euismod torquent inceptos porttitor sit proin. Habitasse per finibus dui suspendisse dapibus pellentesque, ullamcorper consectetur fermentum. Adipiscing vivamus phasellus vel sagittis; aliquam platea. Tempus ullamcorper dolor nisl porta metus magna suscipit tempus tempus. Nibh eu tempus gravida massa id congue vulputate. Interdum posuere dictum integer arcu cras. Fusce pellentesque donec at tristique, lacus feugiat metus at. Mus aptent dapibus, pharetra molestie urna dignissim.
                    </p>
                </div>
                <div class="line"></div>
            </div>
        </div>
    </div>



    @*SMALL CARD LAYOUT*@
    <div class="small-card-layout container-fluid">
        <div class="container-sm">
            <div class="row perspective-container">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center perspective-card-small hidden" id="card1">
                        <div class="card-body">
                            <div class="card-icon">💡</div>
                            <h5 class="card-title">Card Title 1</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center perspective-card-small hidden" id="card2">
                        <div class="card-body">
                            <div class="card-icon">🔧</div>
                            <h5 class="card-title">Card Title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center perspective-card-small hidden" id="card3">
                        <div class="card-body">
                            <div class="card-icon">📈</div>
                            <h5 class="card-title">Card Title 3</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center perspective-card-small hidden" id="card4">
                        <div class="card-body">
                            <div class="card-icon">🚀</div>
                            <h5 class="card-title">Card Title 4</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*IMG LAYOUT*@
    <div class="img-layout container-fluid mb-5">
        <div class="container-sm text-center">
            <img src="https://www.svgrepo.com/show/476993/forest.svg" width="400px" height="400px" alt="this is some alt text" />
        </div>
    </div>

    @*BIG CARD LAYOUT*@
    @* <div class="big-card-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="row perspective-container">
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1603328206297-d59f3d0312c0?q=80&w=1830&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="this is alt text">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 1</h5>
                            <p class="card-text">
                                Lorem ipsum odor amet, consectetuer adipiscing elit. Augue velit convallis aliquam nascetur nunc montes. Suscipit aliquet ac turpis phasellus nullam molestie integer. Vitae quisque praesent semper porta phasellus velit. Natoque bibendum dictum nam hac pharetra mus quam tempus in. Per mus iaculis; ipsum in in eget vel fermentum. Elit vel tincidunt efficitur nascetur habitant ultricies. Justo dignissim libero proin cubilia sem condimentum sed?
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" >Visit!</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="card text-center perspective-card" id="card2">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1656951329324-f349a97c908d?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="this is alt text">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 2</h5>
                            <p class="card-text">
                                Cras sollicitudin natoque ac porta eros suspendisse est. Laoreet rhoncus viverra senectus molestie risus justo. Consectetur quam platea montes sit cubilia. Finibus integer venenatis rhoncus dictum; consequat ipsum. Sagittis cursus ullamcorper donec nisi ad pretium sed congue. Hac sapien habitasse platea; posuere eget placerat. Magnis magna torquent metus donec eleifend congue metus consectetur netus.
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" >Visit!</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="card text-center perspective-card" id="card3">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1629825974318-5bbdf3cb4efe?q=80&w=1769&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="this is alt text">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 3</h5>
                            <p class="card-text">
                                Tempor tristique maximus leo, nullam mauris ultrices laoreet tempus semper. Faucibus vulputate pellentesque rutrum praesent condimentum euismod accumsan. Faucibus viverra habitasse efficitur dictum phasellus nostra habitasse! Nascetur ridiculus lectus vitae volutpat maximus adipiscing feugiat felis. Sed netus mus velit class tristique bibendum. Ad congue aptent faucibus porta dis. Dolor facilisis himenaeos rutrum nisi purus penatibus. Id quisque lectus; quisque hendrerit vulputate iaculis parturient etiam. Molestie in aptent sem quam pharetra.
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" >Visit!</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="card text-center perspective-card" id="card4">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1655744434956-d5487b9a40aa?q=80&w=1766&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="this is alt text">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 4</h5>
                            <p class="card-text">
                                Inceptos ante cursus penatibus tellus, litora taciti turpis feugiat. Vestibulum sit nunc rutrum imperdiet nec in. Auctor nisi viverra dis potenti in consectetur sodales netus taciti. Cras gravida hac sollicitudin convallis sociosqu varius gravida faucibus. Bibendum morbi metus morbi hendrerit tincidunt fames sem dolor. Ante accumsan accumsan, odio nullam amet ac mus! Lacinia vitae sagittis eros parturient lobortis tristique? Per tellus malesuada himenaeos finibus malesuada. Maecenas lacus luctus aliquet semper facilisi nostra ac. Quisque duis tristique habitant vestibulum tellus sem non.
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" >Visit!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> *@

    @*BIG CARD LAYOUT*@
    <div class="big-card-layout mb-5">
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-1">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1603328206297-d59f3d0312c0?q=80&w=1830&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="this is alt text">
                    <div class="card-body">
                        <h5 class="card-title">Card Title 1</h5>
                        <p class="card-text">
                            Lorem ipsum odor amet, consectetuer adipiscing elit. Augue velit convallis aliquam nascetur nunc montes. Suscipit aliquet ac turpis phasellus nullam molestie integer. Vitae quisque praesent semper porta phasellus velit. Natoque bibendum dictum nam hac pharetra mus quam tempus in. Per mus iaculis; ipsum in in eget vel fermentum. Elit vel tincidunt efficitur nascetur habitant ultricies. Justo dignissim libero proin cubilia sem condimentum sed?
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-2">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 offset-lg-6 offset-xl-7 offset-xxl-8 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1629825974318-5bbdf3cb4efe?q=80&w=1769&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="this is alt text">
                    <div class="card-body">
                        <h5 class="card-title">Card Title 1</h5>
                        <p class="card-text">
                            Lorem ipsum odor amet, consectetuer adipiscing elit. Augue velit convallis aliquam nascetur nunc montes. Suscipit aliquet ac turpis phasellus nullam molestie integer. Vitae quisque praesent semper porta phasellus velit. Natoque bibendum dictum nam hac pharetra mus quam tempus in. Per mus iaculis; ipsum in in eget vel fermentum. Elit vel tincidunt efficitur nascetur habitant ultricies. Justo dignissim libero proin cubilia sem condimentum sed?
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
        <div style="position: relative;" class="big-card-layout-image-3">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1656951329324-f349a97c908d?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="this is alt text">
                    <div class="card-body">
                        <h5 class="card-title">Card Title 1</h5>
                        <p class="card-text">
                            Lorem ipsum odor amet, consectetuer adipiscing elit. Augue velit convallis aliquam nascetur nunc montes. Suscipit aliquet ac turpis phasellus nullam molestie integer. Vitae quisque praesent semper porta phasellus velit. Natoque bibendum dictum nam hac pharetra mus quam tempus in. Per mus iaculis; ipsum in in eget vel fermentum. Elit vel tincidunt efficitur nascetur habitant ultricies. Justo dignissim libero proin cubilia sem condimentum sed?
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
        <div style="position: relative;" class="big-card-layout-image-4">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 offset-lg-6 offset-xl-7 offset-xxl-8 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1655744434956-d5487b9a40aa?q=80&w=1766&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="this is alt text">
                    <div class="card-body">
                        <h5 class="card-title">Card Title 1</h5>
                        <p class="card-text">
                            Lorem ipsum odor amet, consectetuer adipiscing elit. Augue velit convallis aliquam nascetur nunc montes. Suscipit aliquet ac turpis phasellus nullam molestie integer. Vitae quisque praesent semper porta phasellus velit. Natoque bibendum dictum nam hac pharetra mus quam tempus in. Per mus iaculis; ipsum in in eget vel fermentum. Elit vel tincidunt efficitur nascetur habitant ultricies. Justo dignissim libero proin cubilia sem condimentum sed?
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 500px;" class="container-fluid">
        <div class="container-sm">

        </div>
    </div>

    


    @*IMG & TEXT LAYOUT*@
    @* <div class="img-and-text-layout container-fluid">
        <div class="container-sm">
            <div class="d-flex">
                <img class="col-3 card-img-left me-4" src="https://www.svgrepo.com/show/317386/forest-burn.svg" alt="this is alt text">
                <div class="card py-3 px-3">
                    <h2>
                        This Is A Title
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>   *@

    @*BIG NUMBERED LIST LAYOUT
    <div class="big-numbered-list-layout container-fluid mb-5">
        <div class="container-sm" style="position: relative;">
            
            <div class="giant-number">1</div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

        </div>
    </div>*@

    @*QUOTE LAYOUT*@
    @* <div class="quote-layout container-fluid mb-5">
        <div class="container-sm position-relative text-center" style="position: relative;">
            @* <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="var(--text-color-solid-very-muted)" class="bi bi-quote" viewBox="0 0 16 16">
                <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z" />
            </svg>
            <div class="fs-3">"Lorem ipsum blah blah blah blah yadda yadda blah blah aaaa bb cc dd ee ffff"</div>
            <div class="fs-5 mt-3">- Somebody's Name, 2024</div>
            <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="var(--text-color-solid-very-muted)" class="bi bi-quote" viewBox="0 0 16 16">
                <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z" />
            </svg>
        </div>
    </div> *@

    @*BIG NUMBER LAYOUT*@
    <div class="big-number-layout container-fluid mb-5">
        <div class="container-sm position-relative text-center">
            <div class="giant-percentage">75%</div>
            <div class="small-text fs-3">This percentage is the percentage of some random thing related to a topic.</div>
        </div>
    </div>

    @*QUOTE LAYOUT (LEFT)*@
    <div class="quote-layout container-fluid mb-5">
        <div class="container-sm">
            <figure class="pt-2 border-top border-bottom">
                <blockquote class="blockquote">
                    <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
            </figure>
        </div>
    </div>

    @*QUOTE LAYOUT (CENTER)*@
    <div class="quote-layout container-fluid mb-5">
        <div class="container-sm">
            <figure class="text-center pt-2 border-top border-bottom">
                <blockquote class="blockquote">
                    <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
            </figure>
        </div>
    </div>
    
    @*QUOTE LAYOUT (RIGHT)*@
    <div class="quote-layout container-fluid mb-5">
        <div class="container-sm">
            <figure class="text-end pt-2 border-top border-bottom">
                <blockquote class="blockquote">
                    <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
            </figure>
        </div>
    </div>

    @*WIDE CAROUSEL LAYOUT*@
    <div class="wide-carousel-layout container-fluid mb-5">
        <div class="container-sm">
            <div id="wide-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#wide-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#wide-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#wide-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://images.unsplash.com/photo-1572587356426-b33bf42f999b?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Slide 1">
                        <div class="carousel-caption mb-2">
                            <h5>This Is A Header</h5>
                            <p>This is some description.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1482685945432-29a7abf2f466?q=80&w=1789&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Slide 2">
                        <div class="carousel-caption mb-2">
                            <h5>This Is A Header</h5>
                            <p>This is some description.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1431794062232-2a99a5431c6c?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Slide 3">
                        <div class="carousel-caption mb-2">
                            <h5>This Is A Header</h5>
                            <p>This is some description.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#wide-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#wide-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    @*CAROUSEL WITH TEXT LAYOUT*@
    <div class="carousel-with-text-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div id="carousel-with-text" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carousel-with-text" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carousel-with-text" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carousel-with-text" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://images.unsplash.com/photo-1603329470128-074eaf2939e7?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Slide 1">
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.unsplash.com/photo-1655409703097-78a27bed8b38?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Slide 2">
                            </div>
                            <div class="carousel-item">
                                <img src="https://images.unsplash.com/photo-1657667779190-8e90af2d9f3f?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Slide 3">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-with-text" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-with-text" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <h2>
                        This Is A Title
                    </h2>
                    <div class="little-line"></div>
                    @* <div class="d-flex">
                        <div class="ball"></div>
                        <div class="ball"></div>
                        <div class="ball"></div>
                    </div> *@
                    <p>
                        Lorem ipsum odor amet, consectetuer adipiscing elit. Hac etiam suscipit finibus elementum diam aliquet. Non pellentesque aliquet erat molestie hac laoreet. Blandit aenean diam taciti neque gravida aenean ligula venenatis. Fusce euismod rhoncus curae nostra rutrum fringilla erat aptent. Placerat tortor massa tempus magnis per eu porta auctor. Consectetur per sit, pulvinar sed ac sollicitudin. Luctus risus semper diam lacinia posuere elit iaculis himenaeos imperdiet.
                    </p>
                    <p>
                        Arcu vehicula senectus eleifend ante suspendisse curabitur amet ac. Sodales leo hac quis, velit lorem sodales. Hendrerit molestie sagittis justo habitant massa gravida. Venenatis tempor congue duis convallis sagittis. Anunc purus magnis sit nec dictum conubia. Feugiat risus egestas ex fames praesent montes. Facilisi iaculis porta sociosqu nullam mollis mollis. Interdum massa non curabitur libero pellentesque placerat sem. Fames metus posuere, integer fermentum commodo eget class.
                    </p>
                </div>
            </div>
        </div>
    </div>

    @*REFERENCE LAYOUT (LEFT)*@
    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        This Is The Title Of A Reference
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        Creator - Date
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        https://dsfasdfasdfalsdjfasfd.com
                    </p>
                    <p>
                        Description if needed. Tempor sagittis commodo hac gravida per mi. Habitasse scelerisque eu elementum taciti ullamcorper purus dolor arcu. Diam praesent hac justo vel ornare ornare. Curae rhoncus arcu platea laoreet orci curae tempor. Id curabitur ipsum dictum nisl litora nulla proin. Potenti fermentum lectus nisi commodo felis habitasse. In hendrerit risus cras auctor luctus. Augue class eu; tortor in aliquam adipiscing magnis. Tristique elementum accumsan leo ad interdum pretium tortor libero.
                    </p>
                </div>
            </div>
        </div>
    </div>

    @*REFERENCE LAYOUT (RIGHT)*@
    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px; justify-content: flex-end;">
                <div class="quote-text-div text-end">
                    <h3>
                        This Is The Title Of A Reference
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        Creator - Date
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        https://dsfasdfasdfalsdjfasfd.com
                    </p>
                    <p>
                        Description if needed. Duis sagittis lacus turpis etiam dictum efficitur donec. Gravida ex suscipit velit fusce sit ligula dolor. Amagna montes in aliquet torquent malesuada aenean ultricies. Nisl tristique tristique mattis platea mus; lorem phasellus. Mattis dictum ipsum curabitur fusce dapibus integer leo ligula potenti. Donec dictum pulvinar elit integer neque pretium. Purus ultricies rutrum pulvinar natoque, velit maecenas. Vitae luctus imperdiet luctus consectetur, dapibus vehicula. Sociosqu nec class; enim lectus egestas eget.
                    </p>
                </div>
                <div class="line"></div>
            </div>
        </div>
    </div>

    

</div>


@code {
    
}