@page "/"

<PageTitle>Home</PageTitle>

<header>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/Images/Home/restaurant_interior.jpg');">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                    <div>
                        @* <h3 class="fs-2 mb-3"> </h3> *@
                        <svg width="calc(4.5rem + 15vw)" height="calc(4.5rem + 15vw)" viewBox="-102.4 -102.4 1228.80 1228.80" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff" stroke-width="0.01024">
                            <g id="SVGRepo_iconCarrier">
                                <path d="M673.684211 1024c-114.768842 0-188.820211-33.333895-254.167579-62.787368-53.625263-24.144842-99.974737-45.002105-161.28-45.002106-40.448 0-83.590737 23.255579-103.639579 45.16379l-39.747369-36.432842C142.497684 894.787368 199.168 862.315789 258.236632 862.315789c68.392421 0 119.861895 21.288421 172.921263 45.056V673.684211c0-35.166316-17.542737-64.107789-30.639158-80.815158-15.198316 9.835789-32.067368 18.890105-50.741895 26.947368l-21.342316-49.475368C469.800421 509.413053 485.052632 377.317053 485.052632 323.368421V221.642105A597.827368 597.827368 0 0 0 404.210526 215.578947h-26.947368V134.736842c0-12.099368-14.848-26.947368-26.947369-26.947368-9.377684 0-18.836211 0.592842-26.947368 1.347368V269.473684h-53.894737V211.671579c-136.030316 102.912-158.450526 266.886737-161.306947 295.882105 9.135158 9.108211 38.992842 25.061053 71.976421 38.669474l38.103579-59.365053 12.449684-1.589894C321.212632 473.653895 377.263158 392.192 377.263158 323.368421h53.894737c0 88.333474-68.796632 192.242526-180.870737 213.342316l-48.397474 75.398737-20.291368-7.437474C53.894737 557.756632 53.894737 523.317895 53.894737 512c0-50.041263 37.025684-254.733474 215.578947-365.621895V62.490947l22.528-3.745684C293.187368 58.556632 321.482105 53.894737 350.315789 53.894737c41.552842 0 80.842105 39.289263 80.842106 80.842105v27.513263c248.697263 10.563368 592.842105 165.295158 592.842105 484.486737 0 185.451789-131.018105 377.263158-350.315789 377.263158z m-13.473685-323.368421c-36.513684 0-67.368421 49.367579-67.368421 107.789474 0 85.746526 68.096 145.084632 89.465263 161.549473 91.540211-2.533053 164.378947-45.487158 213.827369-107.654737H700.631579v-53.894736h230.238316c8.919579-17.273263 16.357053-35.354947 22.285473-53.894737h-239.885473l-6.467369-17.650527C706.290526 735.582316 692.439579 700.631579 660.210526 700.631579zM485.052632 931.112421c33.926737 14.066526 70.521263 26.597053 114.607157 33.468632C569.424842 928.309895 538.947368 875.223579 538.947368 808.421053c0-90.650947 53.274947-161.684211 121.263158-161.684211 44.759579 0 73.835789 28.779789 88.68379 53.894737h217.007158c2.775579-17.866105 4.203789-35.920842 4.203789-53.894737 0-38.938947-5.658947-74.752-15.925895-107.627789l-126.706526 126.679579-38.103579-38.103579L932.001684 485.052632a367.939368 367.939368 0 0 0-57.775158-81.596632l-154.543158 154.543158-38.103579-38.103579 153.573053-153.573053a537.869474 537.869474 0 0 0-82.593684-56.751158l-140.665263 140.638316-38.103579-38.103579 128.134737-128.134737A794.731789 794.731789 0 0 0 538.947368 231.046737V323.368421c0 50.149053-11.102316 156.698947-95.932631 236.328421 18.378105 23.417263 42.037895 63.407158 42.037895 113.987369v257.42821zM215.578947 431.157895v-53.894737c39.774316 0 53.894737-29.022316 53.894737-53.894737h53.894737c0 53.571368-37.025684 107.789474-107.789474 107.789474z" fill="var(--svg-lines)">
                                </path>
                            </g>
                        </svg>
                        <h1 style="margin-top:50px; margin-bottom: 50px;">The White Tiger</h1>
                        <button class="banner-button fs-2" onclick="window.scrollBy({ top: window.innerHeight * 0.85, behavior: 'smooth' });">Explore</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/Images/Main Dishes/chichpea curry masala.jpg');">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-start">
                    <div class="text-start">
                        <h3 class="fs-2 mb-3">Ever Wanted Delicious, Sustainable, Farm-To-Table Food?</h3>
                        <h1>Boy, Have We Got You Covered</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('/Images/Home/plants.jpg');">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-end">
                    <div class="text-end">
                        <h3 class="fs-2 mb-3">A Plant-Based</h3>
                        <h1>Sanctuary For Sustainability</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/Images/Appetizers/pakoras.jpg');">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-start">
                    <div class="text-start">
                        <h3 class="fs-2 mb-3">Guaranteed To Be 100%</h3>
                        <h1>Delicious & Irresistable</h1>
                    </div>
                </div>
            </div>
        
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</header>




<div class="container-fluid giant-container pb-5">
    

    @*DISPLAY HEADER LAYOUT*@
    <div class="display-header-layout container-fluid mb-5 watch">
        <div class="container-sm heading-container">
            <div class="heading-line"></div>
            <h1 class="heading-with-lines display-1">The White Tiger</h1>
            <div class="heading-line"></div>
        </div>
    </div>

    

    @*LINE & PARAGRAPH LAYOUT (LEFT)*@
    <div class="quote-layout container-fluid mb-5 watch">
        <div class="container-sm">
            <div class="d-flex quote-layout-container" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        About Us
                    </h3>
                    <p>
                        This is the White Tiger Farm & Restaurant. Here, we grow our own food under the warm climate of Dallas, Texas to promote plant-based sustainability. Our farms grow a wide range of crops to support our restaurants, and we are constantly making sure to give you the best possible menu accordingly. 
                    </p>
                    <p>
                        The White Tiger Team is a capable, experienced team of farmers, chefs, and leaders with the goal of taking eating to a new high by utlizing Indian tradition and plant-based power to solve the modern imperative for plant-based sustainability. It is our promise to maintain a healthy, tasteful, and sustainable environment to allow our customers to enjoy the cuisine of the future. Have fun going through our website!
                    </p>
                </div>
            </div>
        </div>
    </div>

    @*LINE & PARAGRAPH LAYOUT (RIGHT)*@
    @* <div class="quote-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex quote-layout-container" style="gap: 20px; justify-content: flex-end;">
                <div class="quote-text-div text-end">
                    <h3>
                        This Is A Title
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Ornare euismod torquent inceptos porttitor sit proin. Habitasse per finibus dui suspendisse dapibus pellentesque, ullamcorper consectetur fermentum. Adipiscing vivamus phasellus vel sagittis; aliquam platea. Tempus ullamcorper dolor nisl porta metus magna suscipit tempus tempus. Nibh eu tempus gravida massa id congue vulputate. Interdum posuere dictum integer arcu cras. Fusce pellentesque donec at tristique, lacus feugiat metus at. Mus aptent dapibus, pharetra molestie urna dignissim.
                    </p>
                </div>
                <div class="line"></div>
            </div>
        </div>
    </div> *@



    @*SMALL CARD LAYOUT*@
    <div class="small-card-layout container-fluid watch">
        <div class="container-sm">
            <div class="row perspective-container">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center perspective-card-small hidden" id="card1">
                        <div class="card-body">
                            <div class="card-icon">🥬</div>
                            <h5 class="card-title">Plant-Based Deliciousness</h5>
                            <p class="card-text">Many customers are shocked that our plant-based dishes are just that—plant-based. All the taste in the world, with only plants.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center perspective-card-small hidden" id="card2">
                        <div class="card-body">
                            <div class="card-icon">🌎</div>
                            <h5 class="card-title">Farm-To-Table Sustainability</h5>
                            <p class="card-text">From beginning to end, our food is produced and made right here, minimizing transportation, eliminating harm, and ensuring quality perfection.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center perspective-card-small hidden" id="card3">
                        <div class="card-body">
                            <div class="card-icon">😋</div>
                            <h5 class="card-title">Diverse & Flavorful Selection</h5>
                            <p class="card-text">Honed by tradition, boosted by modernity, all with organic, natural ingredients, we can ensure a spectacular eating experience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center perspective-card-small hidden" id="card4">
                        <div class="card-body">
                            <div class="card-icon">💗</div>
                            <h5 class="card-title">Our Confident Commitment</h5>
                            <p class="card-text">Here at the White Tiger, we have a commitment to love, sustainability, and taste in every step of the process.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*IMG LAYOUT*@
    @* <div class="img-layout container-fluid mb-5">
        <div class="container-sm text-center">
            <img src="/Images/Home/forest svg.svg" width="400px" height="400px" alt="this is some alt text" />
        </div>
    </div> *@

    <div class="img-layout container-fluid mb-5 watch">
        <div class="container-sm text-center">
            <svg width="350px" height="350px" viewBox="-102.4 -102.4 1228.80 1228.80" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff" stroke-width="0.01024">
                <g id="SVGRepo_bgCarrier" stroke-width="0">
                    <path transform="translate(-102.4, -102.4), scale(38.4)" d="M16,31.494092461653054C18.89059059183836,31.54694538186792,21.76630067302917,30.202415005100107,23.818912041034423,28.16646461947297C25.71016020445416,26.290567658338542,25.9963239718782,23.454991585277643,26.696146372774372,20.884766374982675C27.287009254530965,18.71471484108837,27.577058942124133,16.583347603493255,27.58513950301581,14.334308406562615C27.594542733253547,11.717134467039527,28.402350550429723,8.71485448150449,26.747155523174797,6.687536728361616C25.09238847199195,4.660743169331553,21.88832419022714,5.218202348428083,19.42411967355299,4.338519323350953C16.761996418014064,3.3881823595500182,14.46288362576109,0.7778622930408945,11.687007357351805,1.3112959955098002C8.90633276204813,1.8456517813258846,7.419816675322859,4.819218551033537,5.606347219561906,6.993848598610468C3.827436913048511,9.127036887058953,1.2880708611928822,11.097139502603621,1.2109884483946658,13.873661149238231C1.1344197104275207,16.631680140908813,3.9652062638043324,18.465802327927133,5.219636713097637,20.92322695096958C6.401018621075025,23.237549751022797,6.507414743607973,26.064615917964996,8.362709407801162,27.883856128700995C10.41483149355081,29.89609875936618,13.126402120185922,31.441550244190555,16,31.494092461653054" fill="var(--svg-outerbg)" strokewidth="0">
                    </path>
                </g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#ffffff" stroke-width="10.24">
                </g>
                <g id="SVGRepo_iconCarrier">
                    @* <path d="M431.157895 162.250105V134.736842c0-41.552842-39.289263-80.842105-80.842106-80.842105-28.833684 0-57.128421 4.661895-58.314105 4.850526L269.473684 62.490947v83.887158C144.788211 223.824842 89.222737 346.839579 66.991158 431.157895h266.051368c240.747789 0 415.851789 107.789474 415.85179 269.473684-14.848-25.114947-43.924211-53.894737-88.68379-53.894737-67.988211 0-121.263158 71.033263-121.263158 161.684211 0 66.802526 30.477474 119.888842 60.712421 156.16 12.638316 15.171368 36.055579 37.726316 59.014737 58.88 5.066105 0.107789 9.781895 0.538947 15.009685 0.538947 219.297684 0 350.315789-191.811368 350.315789-377.263158C1024 327.545263 679.855158 172.813474 431.157895 162.250105z" fill="var(--svg-innerbg)">
                    </path> *@
                    <path d="M673.684211 1024c-114.768842 0-188.820211-33.333895-254.167579-62.787368-53.625263-24.144842-99.974737-45.002105-161.28-45.002106-40.448 0-83.590737 23.255579-103.639579 45.16379l-39.747369-36.432842C142.497684 894.787368 199.168 862.315789 258.236632 862.315789c68.392421 0 119.861895 21.288421 172.921263 45.056V673.684211c0-35.166316-17.542737-64.107789-30.639158-80.815158-15.198316 9.835789-32.067368 18.890105-50.741895 26.947368l-21.342316-49.475368C469.800421 509.413053 485.052632 377.317053 485.052632 323.368421V221.642105A597.827368 597.827368 0 0 0 404.210526 215.578947h-26.947368V134.736842c0-12.099368-14.848-26.947368-26.947369-26.947368-9.377684 0-18.836211 0.592842-26.947368 1.347368V269.473684h-53.894737V211.671579c-136.030316 102.912-158.450526 266.886737-161.306947 295.882105 9.135158 9.108211 38.992842 25.061053 71.976421 38.669474l38.103579-59.365053 12.449684-1.589894C321.212632 473.653895 377.263158 392.192 377.263158 323.368421h53.894737c0 88.333474-68.796632 192.242526-180.870737 213.342316l-48.397474 75.398737-20.291368-7.437474C53.894737 557.756632 53.894737 523.317895 53.894737 512c0-50.041263 37.025684-254.733474 215.578947-365.621895V62.490947l22.528-3.745684C293.187368 58.556632 321.482105 53.894737 350.315789 53.894737c41.552842 0 80.842105 39.289263 80.842106 80.842105v27.513263c248.697263 10.563368 592.842105 165.295158 592.842105 484.486737 0 185.451789-131.018105 377.263158-350.315789 377.263158z m-13.473685-323.368421c-36.513684 0-67.368421 49.367579-67.368421 107.789474 0 85.746526 68.096 145.084632 89.465263 161.549473 91.540211-2.533053 164.378947-45.487158 213.827369-107.654737H700.631579v-53.894736h230.238316c8.919579-17.273263 16.357053-35.354947 22.285473-53.894737h-239.885473l-6.467369-17.650527C706.290526 735.582316 692.439579 700.631579 660.210526 700.631579zM485.052632 931.112421c33.926737 14.066526 70.521263 26.597053 114.607157 33.468632C569.424842 928.309895 538.947368 875.223579 538.947368 808.421053c0-90.650947 53.274947-161.684211 121.263158-161.684211 44.759579 0 73.835789 28.779789 88.68379 53.894737h217.007158c2.775579-17.866105 4.203789-35.920842 4.203789-53.894737 0-38.938947-5.658947-74.752-15.925895-107.627789l-126.706526 126.679579-38.103579-38.103579L932.001684 485.052632a367.939368 367.939368 0 0 0-57.775158-81.596632l-154.543158 154.543158-38.103579-38.103579 153.573053-153.573053a537.869474 537.869474 0 0 0-82.593684-56.751158l-140.665263 140.638316-38.103579-38.103579 128.134737-128.134737A794.731789 794.731789 0 0 0 538.947368 231.046737V323.368421c0 50.149053-11.102316 156.698947-95.932631 236.328421 18.378105 23.417263 42.037895 63.407158 42.037895 113.987369v257.42821zM215.578947 431.157895v-53.894737c39.774316 0 53.894737-29.022316 53.894737-53.894737h53.894737c0 53.571368-37.025684 107.789474-107.789474 107.789474z" fill="var(--svg-lines)">
                    </path>
                </g>
            </svg>
        </div>
    </div>


    @*BIG CARD LAYOUT*@
    <div class="container-fluid big-card-layout mb-5">
        <div class="individual-big-card container-sm watch">
            <div style="position: relative;" class="big-card-layout-image-1">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Main Dishes/chichpea curry masala.jpg" alt="Main Dish Image">
                    <div class="card-body">
                        <h5 class="card-title">Main Dishes</h5>
                        <p class="card-text">
                            Savor a delicious selection of vegan main dishes, each crafted with traditional spices and fresh ingredients to deliver a memorable dining experience. From hearty curries to flavorful rice, every dish is entirely plant-based and made with genuine Indian flavors.
                        </p>
                        <p class="card-text">
                            Our main dishes are thoughtfully created to bring the warmth and authenticity of Indian cuisine to your table, celebrating plant-based ingredients. Enjoy a satisfying and tasty meal with a diverse range of flavors that will keep you coming back for more!
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="nav-link" style="display: initial;" href="/main-dishes">See here!</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm watch">
            <div style="position: relative;" class="big-card-layout-image-2">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 offset-lg-6 offset-xl-7 offset-xxl-8 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Appetizers/pakoras.jpg" alt="Appetizer Image">
                    <div class="card-body">
                        <h5 class="card-title">Appetizers</h5>
                        <p class="card-text">
                            Kick off your meal with an explosion of flavor! Our appetizers are made with real flavor and genuine Indian spices, providing a delicious experience for your palate. Every dish is entirely vegan, ideal for those looking for tasteful, sustainable food.
                        </p>
                        <p class="card-text">
                            Each item is crafted with fresh ingredients and attention to detail, ensuring you enjoy an authentic taste of Indian cuisine—all while being fully plant-based! Savor the vibrant flavors of India with our delicious appetizers!
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="nav-link" style="display: initial;" href="/appetizers">See here!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="big-number-layout container-fluid mb-5 watch">
        <div class="container-sm position-relative text-center">
            <div class="giant-percentage">90%</div>
            <div class="small-text fs-3">90% of our produce is grown right on our on-site farm!</div>
        </div>
    </div>

    <div class="container-fluid big-card-layout mb-5">
        <div class="individual-big-card container-sm watch">
            <div style="position: relative;" class="big-card-layout-image-3">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Drinks/strawberry lemonade.jpg" alt="Drink Image">
                    <div class="card-body">
                        <h5 class="card-title">Drinks</h5>
                        <p class="card-text">
                            Our bold selection of drinks promise to keep you refreshed and hydrated! From espresso to rose lemonade to tamarind juice, we promise top-notch, quality excellence.
                        </p>
                        <p class="card-text">
                            Past, present, and future combine in our selection of drinks! With established drinks like tamarind juice, modern delights like strawberry lemonade and espresso, and the sustainable production of the future, rejoice in our timeless taste!
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="nav-link" style="display: initial;" href="/drinks">See here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm watch">
            <div style="position: relative;" class="big-card-layout-image-4">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 offset-lg-6 offset-xl-7 offset-xxl-8 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Sustainability/more crops.jpg" alt="Sustainability Image">
                    <div class="card-body">
                        <h5 class="card-title">Sustainability</h5>
                        <p class="card-text">
                            Modern big agriculture is flawed. With huge carbon emissions, environmental damage, depletion of resources, and the loss of biodiversity, we here at the White Tiger want to reject this.
                        </p>
                        <p class="card-text">
                            That's why our restaurant uses its own farm—to make sure it's done the right way. Compost, no harmful chemicals and pollutants, and sustainable use of resources. 
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="nav-link" style="display: initial;" href="/sustainability">See here!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    


    @*IMG & TEXT LAYOUT*@
    @* <div class="img-and-text-layout container-fluid">
        <div class="container-sm">
            <div class="d-flex">
                <img class="col-3 card-img-left me-4" src="https://www.svgrepo.com/show/317386/forest-burn.svg" alt="this is alt text">
                <div class="card py-3 px-3">
                    <h2>
                        This Is A Title
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>   *@

    @*BIG NUMBERED LIST LAYOUT
    <div class="big-numbered-list-layout container-fluid mb-5">
        <div class="container-sm" style="position: relative;">
            
            <div class="giant-number">1</div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

        </div>
    </div>*@

    @*QUOTE LAYOUT*@
    @* <div class="quote-layout container-fluid mb-5">
        <div class="container-sm position-relative text-center" style="position: relative;">
            @* <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="var(--text-color-solid-very-muted)" class="bi bi-quote" viewBox="0 0 16 16">
                <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z" />
            </svg>
            <div class="fs-3">"Lorem ipsum blah blah blah blah yadda yadda blah blah aaaa bb cc dd ee ffff"</div>
            <div class="fs-5 mt-3">- Somebody's Name, 2024</div>
            <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="var(--text-color-solid-very-muted)" class="bi bi-quote" viewBox="0 0 16 16">
                <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z" />
            </svg>
        </div>
    </div> *@

    

    

    

</div>


@code {
    
}