@page "/main-dishes"

<PageTitle>Main Dishes</PageTitle>

<header>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('https://images.unsplash.com/photo-1551970634-747846a548cb?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                    <div>
                        <h3 class="fs-2 mb-3">Our Main Dishes</h3>
                        <h1>Will Make Your Tongue Water</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid giant-container pb-5">

    <div class="display-header-layout container-fluid mb-5">
        <div class="container-sm heading-container">
            <div class="heading-line"></div>
            <h1 class="heading-with-lines display-1">Main Dishes</h1>
            <div class="heading-line"></div>
        </div>
    </div>

    <div class="big-card-layout mb-5">
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-1 chickpea-curry">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Main Dishes/chichpea curry masala.jpg" alt="Chickpea Curry">
                    <div class="card-body">
                        <h5 class="card-title">Chickpea Curry (Chana Masala)</h5>
                        <p class="card-text">
                            Chickpeas are a great source of plant-based protein and require minimal water to grow compared to regular animal products, making them a significant alternative. Our chickpeas are sourced from our own farm, which practices organic, natural farming to ensure minimal chemical usage and the protection of our environment.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-2 aloo-gobi">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 offset-lg-6 offset-xl-7 offset-xxl-8 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Main Dishes/potato and cauliflower curry (aloo gobi).jpg" alt="Potato & Cauliflower Curry">
                    <div class="card-body">
                        <h5 class="card-title">Potato & Cauliflower Curry (Aloo Gobi)</h5>
                        <p class="card-text">
                            Lorem ipsum odor amet, consectetuer adipiscing elit. Augue velit convallis aliquam nascetur nunc montes. Suscipit aliquet ac turpis phasellus nullam molestie integer. Vitae quisque praesent semper porta phasellus velit. Natoque bibendum dictum nam hac pharetra mus quam tempus in. Per mus iaculis; ipsum in in eget vel fermentum. Elit vel tincidunt efficitur nascetur habitant ultricies. Justo dignissim libero proin cubilia sem condimentum sed?
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-3 eggplant-mash">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Main Dishes/eggplantn mash.jpg" alt="Smoked Eggplant Mash">
                    <div class="card-body">
                        <h5 class="card-title">Smoked Eggplant Mash (Baingan Bharta)</h5>
                        <p class="card-text">
                            Our eggplants were grown with sustainable methods, such as composting and crop rotation. These techniques are important to improve soil health and reduce the need for artificial fertilizers. The smokiness comes from grilling over an open flame to provide you with a culturally authentic taste.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-4 tikka-masala">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 offset-lg-6 offset-xl-7 offset-xxl-8 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Main Dishes/vegan tikka masala.jpg" alt="Tikka Masala">
                    <div class="card-body">
                        <h5 class="card-title">Vegan Tikka Masala</h5>
                        <p class="card-text">
                            Using locally sourced tofu instead of the animal based paneer we were able to create the same flavorful dish but with respect to our environment. We have also decided on using organic local spices to minimize transportation pollution.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-4 spiced-flatbread">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Main Dishes/spiced flatbread.jpg" alt="Spiced Flatbread">
                    <div class="card-body">
                        <h5 class="card-title">Spiced Flatbread (Methi Thepla)</h5>
                        <p class="card-text">
                            This flatbread is made from whole wheat flour and fenugreek leaves, both of which are sourced from our very own yard  practicing organic and sustainable agriculture. Fenugreek, known for its soil-enriching properties, helps support sustainable farming practices
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-4 spinach-curry">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 offset-lg-6 offset-xl-7 offset-xxl-8 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Main Dishes/spinach curry.jpg" alt="Spinach Coconut Curry">
                    <div class="card-body">
                        <h5 class="card-title">Spinach Coconut Curry (Palak Coconut Curry)</h5>
                        <p class="card-text">
                            We use locally grown spinach, which thrives in cool climates and requires minimal water, combined with sustainably harvested coconut milk. Our coconut suppliers adhere to fair trade practices and eco-friendly harvesting methods to protect both workers and the environment.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-4 sweet-and-sour-curry">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Main Dishes/sweet and sour curry.jpg" alt="Sweet & Sour Curry">
                    <div class="card-body">
                        <h5 class="card-title">Vegan Sweet & Sour Curry (Vegan Vindaloo)</h5>
                        <p class="card-text">
                            Tofu or tempeh is sourced from local producers who use non-GMO, soybeans grown with sustainable farming practices. Our sweet & sour curry is made with organic vinegar and locally grown vegetables, minimizing the need for long-distance transportation.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-4 lentil-stew">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 offset-lg-6 offset-xl-7 offset-xxl-8 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Main Dishes/lentil stew.jpg" alt="Lentil Stew">
                    <div class="card-body">
                        <h5 class="card-title">Lentil Stew (Daal Tadka)</h5>
                        <p class="card-text">
                            Lentils are an excellent sustainable crop that enriches the soil by fixing nitrogen. Our lentils are sourced from nearby organic farms practicing crop rotation and low-impact farming methods. The dish is cooked using minimal oil and served with locally sourced rice.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-4 potato-and-pea-curry">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Main Dishes/potato and pea curry.jpg" alt="Potato & Pea Curry">
                    <div class="card-body">
                        <h5 class="card-title">Potato & Pea Curry (Aloo Matar)</h5>
                        <p class="card-text">
                            Potatoes and peas are both resilient crops with low environmental impact. We source them from local farms that prioritize regenerative agricultural practices, reducing their carbon footprint and reliance on synthetic chemicals.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="individual-big-card container-sm">
            <div style="position: relative;" class="big-card-layout-image-4 veg-biryani">
                <div class="col-md-12 col-lg-6 col-xl-5 col-xxl-4 offset-lg-6 offset-xl-7 offset-xxl-8 card text-center perspective-card" id="card1">
                    <img class="card-img-top" src="/Images/Main Dishes/vegetable biryani.jpg" alt="Vegetable Biryani">
                    <div class="card-body">
                        <h5 class="card-title">Vegan Vegetable Biryani (Vegan Pulao Biryani)</h5>
                        <p class="card-text">
                            Our biryani is made using organic basmati rice and a variety of seasonal vegetables from local farmers. The dish is prepared using minimal energy-efficient cooking methods, reducing our overall energy consumption.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#">See it here!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@code {

}
