@page "/references"

<PageTitle>References</PageTitle>

<header>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images.unsplash.com/photo-1551970634-747846a548cb?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                    <div>
                        <h1>References</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid giant-container pb-5">

    <div class="display-header-layout container-fluid mb-5">
        <div class="container-sm heading-container">
            <div class="heading-line"></div>
            <h1 class="heading-with-lines display-1">Info Sources</h1>
            <div class="heading-line"></div>
        </div>
    </div>
    
    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        Agroforestry
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        United States Department Of Agriculture
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        <a href="https://www.usda.gov/forestry/agroforestry" target="_blank" rel="noopener noreferrer">https://www.usda.gov/forestry/agroforestry</a>
                    </p>
                    <p>
                        This is a website from the United States Department Of Agriculture that describes agroforestry, the usage of trees in combination with crops to create environmental, economic, and social benefits.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px; justify-content: flex-end;">
                <div class="quote-text-div text-end">
                    <h3>
                        Companion Planting
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        West Virginia University Extension
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        <a href="https://extension.wvu.edu/lawn-gardening-pests/gardening/garden-management/companion-planting" target="_blank" rel="noopener noreferrer">https://extension.wvu.edu/lawn-gardening-pests/gardening/garden-management/companion-planting</a>
                    </p>
                    <p>
                        This is a website from the West Virginia University Extension that describes companion planting, the practice of growing different combinations of crops together to increaese production. The site details various combinations one can use. We used this site's information to help explain our sustainable practices.
                    </p>
                </div>
                <div class="line"></div>
            </div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        All You Need To Know About Vedic Farming
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        VedaBharat Tech - Apr 26, 2023
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        <a href="https://vedabharath.com/blogs/news/all-you-need-to-know-about-vedic-farming" target="_blank" rel="noopener noreferrer">https://vedabharath.com/blogs/news/all-you-need-to-know-about-vedic-farming</a>
                    </p>
                    <p>
                        This is a website about vedic farming. It details various things about vedic farming and we used its information to help describe our farm's processes.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="display-header-layout container-fluid mb-5 pt-5">
        <div class="container-sm heading-container">
            <div class="heading-line"></div>
            <h1 class="heading-with-lines display-1">Image Sources</h1>
            <div class="heading-line"></div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        Aloo tikki recipe by Sonia Goyal
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        Soniya Goyal, Flickr - Feb 25, 2016
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        <a href="https://www.flickr.com/photos/soniagoyal/25154602981/in/photostream/" target="_blank" rel="noopener noreferrer">https://www.flickr.com/photos/soniagoyal/25154602981/in/photostream/</a>
                    </p>
                    <p>
                        This is an image from an aloo tikki recipe by Soniya Goyal. Its Creative Commons license is Attribution-ShareAlike 2.0 Generic, which allows sharing and adapting under the condition of attribution and distribution under the same license as the original if it was remixed, transformed, or built upon. This image was used as the image for aloo tikki in this website.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px; justify-content: flex-end;">
                <div class="quote-text-div text-end">
                    <h3>
                        File:Coconut Drink, Pangandaran.JPG
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        Crisco 1492, Wikimedia Commons - Feb 11, 2013
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        <a href="https://commons.wikimedia.org/wiki/File:Coconut_Drink,_Pangandaran.JPG" target="_blank" rel="noopener noreferrer">https://commons.wikimedia.org/wiki/File:Coconut_Drink,_Pangandaran.JPG</a>
                    </p>
                    <p>
                        This is an image of a coconut drink in Pangandaran by the user Crisco 1492 on Wikimedia Commons. Its Creative Commons license is Attribution-Share Alike 3.0 Unported, which allowed sharing and adapting under the condition of attribution and distribution under the same license as the original if it was remixed, transformed, or built upon. This image was used as the image for coconut water in this website.
                    </p>
                </div>
                <div class="line"></div>
            </div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        Imli and It’s Juice Benefits: A Tropical Fruit for Your Health
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        Faisal Rafiq, Healthwire - Jun 21, 2022
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        <a href="https://healthwire.pk/healthcare/health-benefits-of-tamarind/" target="_blank" rel="noopener noreferrer">https://healthwire.pk/healthcare/health-benefits-of-tamarind/</a>
                    </p>
                    <p>
                        This is a website about tamarind/imli juice's health benefits. An image in this article was used as the image for tamarind juice in this website.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px; justify-content: flex-end;">
                <div class="quote-text-div text-end">
                    <h3>
                        Birkha Bawri – A 21st century active India Stepwell
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        Jatin Chhabra - Dec, 2016
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        <a href="https://jatinchhabra.com/birkha-bawri-a-21st-century-active-india-stepwell/" target="_blank" rel="noopener noreferrer">https://jatinchhabra.com/birkha-bawri-a-21st-century-active-india-stepwell/</a>
                    </p>
                    <p>
                        This part of Jatin Chhabra's travel website is about Birkha Bawri, an active stepwell in India. We used images here to represent our farm's stepwell.
                    </p>
                </div>
                <div class="line"></div>
            </div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        All You Need To Know About Vedic Farming
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        VedaBharat Tech - Apr 26, 2023
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        <a href="https://vedabharath.com/blogs/news/all-you-need-to-know-about-vedic-farming" target="_blank" rel="noopener noreferrer">https://vedabharath.com/blogs/news/all-you-need-to-know-about-vedic-farming</a>
                    </p>
                    <p>
                        This is a website about vedic farming. It has an image that we used in one of the website's banners.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px; justify-content: flex-end;">
                <div class="quote-text-div text-end">
                    <h3>
                        Agroforestry on a private farm in Nepal
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        Sajal Sthapit, Flickr - Jun 23, 2008
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        <a href="https://www.flickr.com/photos/ecoagriculture/2605305882/" target="_blank" rel="noopener noreferrer">https://www.flickr.com/photos/ecoagriculture/2605305882/</a>
                    </p>
                    <p>
                        This is an image of agroforestry in a farm in Nepal. Its Creative Commons license is Attribution-NonCommercial-ShareAlike 2.0 Generic, which allows sharing and adapting on the condition of attribution and noncommercial usage, and distribution under the same license as the original if it was remixed, transformed, or built upon. We used this image to display the agroforestry method.
                    </p>
                </div>
                <div class="line"></div>
            </div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        File:KarottenZwiebeln 266.JPG
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        manfred.sause@volloeko.de, Wikimedia Commons - Aug 9, 2008
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        <a href="https://commons.wikimedia.org/wiki/File:KarottenZwiebeln_266.JPG" target="_blank" rel="noopener noreferrer">https://commons.wikimedia.org/wiki/File:KarottenZwiebeln_266.JPG</a>
                    </p>
                    <p>
                        This is an image of companion planting of carrots and onions. Its Creative Commons license is Creative Commons Attribution-Share Alike 3.0 Unported, 2.5 Generic, 2.0 Generic and 1.0 Generic license. Under them, sharing and remixing is allowed  under the conditions of attribution and distribution under the same license as the original if it was remixed, transformed, or built upon. We used this image to display the companion planting method.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px; justify-content: flex-end;">
                <div class="quote-text-div text-end">
                    <h3>
                        Instagram SVG Vector
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        Konstantin Filatov (Gentlecons Interface Icons), SVGRepo
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        <a href="https://www.svgrepo.com/svg/521711/instagram" target="_blank" rel="noopener noreferrer">https://www.svgrepo.com/svg/521711/instagram</a>
                    </p>
                    <p>
                        This is an SVG of Instagram's logo. It is used in the footer as a link and its license allows sharing and remixing under the condition of attribution.
                    </p>
                </div>
                <div class="line"></div>
            </div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        Twitter SVG Vector
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        Konstantin Filatov (Gentlecons Interface Icons), SVGRepo
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        <a href="https://www.svgrepo.com/svg/521900/twitter" target="_blank" rel="noopener noreferrer">https://www.svgrepo.com/svg/521900/twitter</a>
                    </p>
                    <p>
                        This is an SVG of Twitter's logo. It is used in the footer as a link and its license allows sharing and remixing under the condition of attribution.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px; justify-content: flex-end;">
                <div class="quote-text-div text-end">
                    <h3>
                        Facebook SVG Vector
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        Konstantin Filatov (Gentlecons Interface Icons), SVGRepo
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        <a href="https://www.svgrepo.com/svg/521654/facebook" target="_blank" rel="noopener noreferrer">https://www.svgrepo.com/svg/521654/facebook</a>
                    </p>
                    <p>
                        This is an SVG of Facebook's logo. It is used in the footer as a link and its license allows sharing and remixing under the condition of attribution.
                    </p>
                </div>
                <div class="line"></div>
            </div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        Leaf SVG Vector
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        pixelbazaar (Responsive Flat Icons), SVGRepo
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        <a href="https://www.svgrepo.com/svg/513319/leaf" target="_blank" rel="noopener noreferrer">https://www.svgrepo.com/svg/513319/leaf</a>
                    </p>
                    <p>
                        This is an SVG of a leaf. It is used in the navigation bar and its license allows sharing and remixing under the condition of attribution.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px; justify-content: flex-end;">
                <div class="quote-text-div text-end">
                    <h3>
                        Other
                    </h3>
                    <p>
                        Various other images and SVGs are from Unsplash and SVGRepo, with licenses allowing usage without attribution.
                    </p>
                </div>
                <div class="line"></div>
            </div>
        </div>
    </div>

    <div class="display-header-layout container-fluid mb-5 pt-5">
        <div class="container-sm heading-container">
            <div class="heading-line"></div>
            <h1 class="heading-with-lines display-1">Other</h1>
            <div class="heading-line"></div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        Bootstrap 5.3.3
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        <a href="https://getbootstrap.com" target="_blank" rel="noopener noreferrer">https://getbootstrap.com</a>
                    </p>
                    <p>
                        This project uses Bootstrap 5.3.3 to help build the website's layout. The site did not use a pre-built template or theme not created by the team members.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="display-header-layout container-fluid mb-5 pt-5">
        <div class="container-sm heading-container">
            <div class="heading-line"></div>
            <h1 class="heading-with-lines display-1">Copyright Checklist</h1>
            <div class="heading-line"></div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        Student Copyright Checklist
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        <a href="https://drive.google.com/file/d/1BV8nPuY38HgezgXiPLd8Or1oulKdbMOg/view?usp=drive_link" target="_blank" rel="noopener noreferrer">https://drive.google.com/file/d/1BV8nPuY38HgezgXiPLd8Or1oulKdbMOg/view?usp=drive_link</a>
                    </p>
                    <p>
                        This is the link to the student copyright checklist filled out by the team and an advisor for the school's TSA chapter.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mb-5">
        <iframe src="https://drive.google.com/file/d/1BV8nPuY38HgezgXiPLd8Or1oulKdbMOg/preview" width="640" height="480" allow="autoplay"></iframe>
    </div>




    <div class="display-header-layout container-fluid mb-5 pt-5">
        <div class="container-sm heading-container">
            <div class="heading-line"></div>
            <h1 class="heading-with-lines display-1">Work Plan</h1>
            <div class="heading-line"></div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        Work Log
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        <a href="https://drive.google.com/file/d/1BVgiX4qAL0VqQiFBVX35kvfF2VS63-g0/view?usp=drive_link" target="_blank" rel="noopener noreferrer">https://drive.google.com/file/d/1BVgiX4qAL0VqQiFBVX35kvfF2VS63-g0/view?usp=drive_link</a>
                    </p>
                    <p>
                        This is the link to the work plan filled out by the team and an advisor for the school's TSA chapter.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mb-5">
        <iframe src="https://drive.google.com/file/d/1BVgiX4qAL0VqQiFBVX35kvfF2VS63-g0/preview" width="640" height="480" allow="autoplay"></iframe>
    </div>

    


    
</div>

@code {

}
