@page "/references"

<PageTitle>References</PageTitle>

<header>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images.unsplash.com/photo-1551970634-747846a548cb?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                    <div>
                        <h1>References</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid giant-container pb-5">
    
    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        This Is The Title Of A Reference
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        Creator - Date
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        https://dsfasdfasdfalsdjfasfd.com
                    </p>
                    <p>
                        Description if needed. Tempor sagittis commodo hac gravida per mi. Habitasse scelerisque eu elementum taciti ullamcorper purus dolor arcu. Diam praesent hac justo vel ornare ornare. Curae rhoncus arcu platea laoreet orci curae tempor. Id curabitur ipsum dictum nisl litora nulla proin. Potenti fermentum lectus nisi commodo felis habitasse. In hendrerit risus cras auctor luctus. Augue class eu; tortor in aliquam adipiscing magnis. Tristique elementum accumsan leo ad interdum pretium tortor libero.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="reference-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex" style="gap: 20px; justify-content: flex-end;">
                <div class="quote-text-div text-end">
                    <h3>
                        This Is The Title Of A Reference
                    </h3>
                    <p class="subtitle" style="margin-bottom: 0;">
                        Creator - Date
                    </p>
                    <p class="subtitle" style="margin-bottom: 0.5rem;">
                        https://dsfasdfasdfalsdjfasfd.com
                    </p>
                    <p>
                        Description if needed. Duis sagittis lacus turpis etiam dictum efficitur donec. Gravida ex suscipit velit fusce sit ligula dolor. Amagna montes in aliquet torquent malesuada aenean ultricies. Nisl tristique tristique mattis platea mus; lorem phasellus. Mattis dictum ipsum curabitur fusce dapibus integer leo ligula potenti. Donec dictum pulvinar elit integer neque pretium. Purus ultricies rutrum pulvinar natoque, velit maecenas. Vitae luctus imperdiet luctus consectetur, dapibus vehicula. Sociosqu nec class; enim lectus egestas eget.
                    </p>
                </div>
                <div class="line"></div>
            </div>
        </div>
    </div>




    
</div>

@code {

}
