@page "/references"

<PageTitle>References</PageTitle>

<header>
    <h1 class="banner_title">References</h1>
    <p class="banner_subtitle">This Is A Subtitle</p>
</header>

<div style="background-color: red; height: 500px;" class="container-fluid">100% wide until small breakpoint</div>
<div style="background-color: orange; height: 500px;" class="container-fluid">100% wide until medium breakpoint</div>
<div style="background-color: yellow; height: 500px;" class="container-fluid">100% wide until large breakpoint</div>
<div style="background-color: green; height: 500px;" class="container-fluid">100% wide until extra large breakpoint</div>
<div style="background-color: blue; height: 500px;" class="container-fluid">100% wide until extra extra large breakpoint</div>

@code {

}
