@page "/sustainability"

<PageTitle>Sustainability</PageTitle>

<header>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/Images/Sustainability/stepwell.jpg');">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                    <div>
                        <h3 class="fs-2 mb-3">This Is How We Stay</h3>
                        <h1>Sustainable</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/Images/Sustainability/vedic farming.jpg');">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-start">
                    <div class="text-start">
                        <h3 class="fs-2 mb-3">Farm-To-Table Sourcing With</h3>
                        <h1>Ancient Indian Techniques</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/Images/Sustainability/plants.jpg');">
                <div class="carousel-caption d-flex h-100 align-items-center justify-content-end">
                    <div class="text-end">
                        <h3 class="fs-2 mb-3">A Plant-Based</h3>
                        <h1>Sanctuary For Sustainability</h1>
                    </div>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</header>


<div class="container-fluid giant-container pb-5">

    <div class="display-header-layout container-fluid mb-5">
        <div class="container-sm heading-container">
            <div class="heading-line"></div>
            <h1 class="heading-with-lines display-1">Sustainability</h1>
            <div class="heading-line"></div>
        </div>
    </div>

    <div class="small-card-layout container-fluid">
        <div class="container-sm">
            <div class="row perspective-container">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center perspective-card-small hidden" id="card1">
                        <div class="card-body">
                            <div class="card-icon">🧑‍🌾</div>
                            <h5 class="card-title">Vedic Farming For Soil Health</h5>
                            <p class="card-text">Emphasizing natural methods to maintain soil fertility without chemicals.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center perspective-card-small hidden" id="card2">
                        <div class="card-body">
                            <div class="card-icon">🌱</div>
                            <h5 class="card-title">Companion Planting For Pest Control</h5>
                            <p class="card-text">Using nature to protect crops, like planting turmeric with ginger to ward off pests.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center perspective-card-small hidden" id="card3">
                        <div class="card-body">
                            <div class="card-icon">💧</div>
                            <h5 class="card-title">Sustainable Water Management</h5>
                            <p class="card-text">Utilizing ancient stepwells to efficiently store and manage water.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center perspective-card-small hidden" id="card4">
                        <div class="card-body">
                            <div class="card-icon">🌳</div>
                            <h5 class="card-title">Agroforestry For Biodiversity</h5>
                            <p class="card-text">Integrating trees and crops to foster a healthy, biodiverse environment.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="wide-carousel-layout container-fluid mb-5">
        <div class="container-sm">
            <div id="wide-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#wide-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#wide-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/Images/Sustainability/vedic farming.jpg" alt="Slide 1">
                        <div class="carousel-caption mb-2">
                            <h5>Farm-To-Table Sourcing With Ancient Indian Techniques</h5>
                            <p>
                                The restaurant sources fresh, organic produce grown on a Texas farm using ancient Indian farming techniques like Vedic farming, which uses traditional knowledge and practices from the Vedas, creating a sustainable and self-sufficient agricultural system based on being natural and not causing harm to the environment or those in it. It is based on principles such as Ahimsa (non-violence), Yajna (sacrifice), Dharma (righteousness), and Karma (action). This leads to practices such as crop rotation, promoting biodiversity, and the use of Ayurvedic herbs to promote plant growth and health.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/Images/Sustainability/birkha bawri.jpg" alt="Slide 2">
                        <div class="carousel-caption mb-2">
                            <h5>Traditional Water Conservation Methods (Like Stepwells And Wells)</h5>
                            <p>
                                Ancient Indian farming traditions focused heavily on water conservation, especially in dry, arid regions. The farm utilizes techniques inspired by the stepwell system used in ancient India to store and distribute water. These systems allow the farm to efficiently collect and store rainwater, reducing reliance on external water sources and ensuring that crops thrive with little water waste.
                            </p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#wide-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#wide-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    


    @* <div class="big-number-layout container-fluid mb-5">
        <div class="container-sm position-relative text-center">
            <div class="giant-percentage">90%</div>
            <div class="small-text fs-3">90% of the produce we use that comes from our own farms.</div>
        </div>
    </div> *@

    <div class="quote-layout container-fluid mb-5">
        <div class="container-sm">
            <figure class="text-center pt-2 border-top border-bottom">
                <blockquote class="blockquote">
                    <p>By combining ancient wisdom with modern methods, we’re building a sustainable future, one crop at a time.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    The White Tiger Team
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="carousel-with-text-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div id="carousel-with-text" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carousel-with-text" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carousel-with-text" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/Images/Sustainability/agroforestry.jpg" alt="Slide 1">
                                <div class="carousel-caption mb-2">
                                    <p>Agroforestry increases productivity and biodiversity.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/Images/Sustainability/companion planting.jpg" alt="Slide 2">
                                <div class="carousel-caption mb-2">
                                    <p>Companion planting is used to preserve soil health. This images shows carrots and onions planted together.</p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-with-text" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-with-text" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <h2>
                        Other Methods
                    </h2>
                    <div class="little-line"></div>
                    <p>
                        Agroforestry is the incorporation of trees and shrubs into crop farming systems to provide environmental and economic benefits. It is and has been practed around the world for centuries. There are a few different ways it can be incorporated. In alley cropping, crops are planted between rows of trees to provide income as the trees mature. In forest farming, or multi-story cropping, various types of crops are grown under a forest canopy that is used to provide ideal levels of shade, as well as other products. Additionally, trees and shrubs can provide windbreaks to protect crops, buildings, and soil from wind.
                    </p>
                    <p>
                        In companion planting, several different types of crops are grown near each other to boost crop production. Generally, they are grown within two to three rows of each other when they have positive relationships with each other. Companion planting can help deter pests, offer shade to smaller plants, provide weed suppression, attract beneficial insect, and increase soil health. One popular form of companion planting involved corn, beans, and squash. Corn provides a support and shelter for beans and other climbing crops, while the beans can add nitrogen to the soil to help the corn. The squash can shade the smaller bean plants and provide weed suppression.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="quote-layout container-fluid mb-5">
        <div class="container-sm">
            <div class="d-flex quote-layout-container" style="gap: 20px;">
                <div class="line"></div>
                <div class="quote-text-div">
                    <h3>
                        In Summary
                    </h3>
                    <p>
                        <strong>Farm-To-Table Sourcing with Ancient Indian Techniques:</strong> Our produce is grown using Vedic farming, promoting soil health and natural growth, free from synthetic chemicals.
                    </p>
                    <p>
                        <strong>Traditional Water Conservation Techniques:</strong> Inspired by ancient stepwells, we store and manage water to minimize waste and ensure crops thrive even in dry climates.
                    </p>
                    <p>
                        <strong>Agroforestry:</strong> We use agroforestry to plant multiple crops alongside trees, maximizing land productivity and preserving biodiversity.
                    </p>
                    <p>
                        <strong>Companion Planting For Natural Fertility & Pest Control:</strong> Using traditional companion planting methods, crops naturally support one another to improve soil health and protect against pests.
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>

@code {

}
